* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}
*::selection {
  background-color: lightblue;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
}

#nav {
  height: 80px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

#nav-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#nav-part2 h4 {
  font-size: 13px;
  font-weight: 600;
}

#nav-part2 h4 span {
  color: rgb(201, 199, 199);
  margin-left: 20px;
}

#nav h5 {
  display: none;
}

.boobs {
  height: 17px;
  width: 17px;
  background-color: black;
  border-radius: 50%;
}

#nav2 {
  height: 60px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 110px;
  padding: 0 50px;
}
#nav2 h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}


#content {
  height: calc(
    100% - 140px
  ); /*Height form nav1(70px) and nav2(80px) is substracted by 100%(100% - 150px)  THAT IS THE REASON calac IS USED , IT HELPS IN SUBSTRACTING PX IN %    */
  width: 100%;
}

#text-content {
  height: 45%;
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

#text-content::-webkit-scrollbar {
  background-color: transparent;
  height: 7px;
}
#text-content::-webkit-scrollbar-thumb {
  background-color: orangered;
}

.elem {
  flex-shrink: 0;
  height: 100%;
  width: 60%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.elem h1 {
  font-size: 7.5vw;
  font-weight: 300;
  letter-spacing: -5px;
}

#image-content {
  height: 55%;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

#image-content::-webkit-scrollbar {
  display: none;
}

#image-content img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 30%;
}

@media (max-width: 600px) {
  #nav {
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    overflow-x: auto;
    flex-wrap: nowrap;
  }

  #nav-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  #nav h5 {
    display: initial;
  }
  #nav h5 i {
    font-size: 15px;
    font-weight: 700;
  }

  #nav-part2 {
    align-items: center;
    gap: 25px;
  }

  #nav-part2 h4 {
    display: none;
    font-size: 13px;
    font-weight: 600;
  }
  #nav-part2 h4:nth-child(1) {
    display: initial;
    font-size: 12px;
    margin-right: 15px;
  }

  #nav-part2 h4 span {
    color: rgb(201, 199, 199);
    margin-left: 12px;
  }

  .boobs {
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;
  }




  #nav2 {
    height: 70px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5%;
    padding: 0 3.4%;
  }

  #nav2 h3 {
    font-size: 2.355vw;
    text-transform: uppercase;
    font-weight: 700;
    color: #7b7979;
  }


  #content {
    height: calc(
      100% - 125px
    ); /*Height form nav1(55px) and nav2(70px) is substracted by 100%(100% - 150px)  THAT IS THE REASON calac IS USED , IT HELPS IN SUBSTRACTING PX IN %    */
    width: 100%;
  }
  
  #text-content {
    height: 35%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  #text-content::-webkit-scrollbar {
    background-color: transparent;
    height: 3px;
  }
  #text-content::-webkit-scrollbar-thumb {
    background-color: orangered;
  }
  
  .elem {
    flex-shrink: 0;
    height: 100%;
    width: fit-content;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

  }
  .elem h1 {
    font-size: 15.532vw;
    font-weight: 300;
    letter-spacing: 0px;
  }
  
  #image-content {
    height: 65%;
    width: 100%;
    display: flex;
    overflow-x: auto;
  }
  
  #image-content::-webkit-scrollbar {
    display: none;
  }
  
  #image-content img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
